/* main header */
.main-header .mobile-menuBtn {
  display: none;
}
.main-header .login-area {
  display: flex;
  justify-content: flex-end;
  margin: 2%;
}
.main-header .login-area .login-button {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
  cursor: pointer;
}
.main-header .login-area .login-button div {
  padding-left: 0.3rem;
}
.main-header .main-logo {
  display: flex;
  justify-content: center;
}
.main-header .main-logo img {
  cursor: pointer;
}
.main-header .search-area {
  position: relative;
  display: flex;
  float: right;
  width: 12%;
  margin: 2%;
}
.main-header .search-area .faSearch {
  position: absolute;
  top: 20%;
  left: 2%;
  cursor: pointer;
}
.main-header .search-area .search_input {
  width: 100%;
  border: 0;
  border-bottom: 1px solid #222;
  color: #222;
  text-indent: 1.5rem;
  font-size: 1rem;
}
.main-header .search-area .search_input:focus {
  outline: none;
}
.main-header .menu-area {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  clear: both;
}
.main-header .menu-area .menu-close {
  display: none;
  width: 100%;
  border: 0;
  outline: none;
  background: transparent;
  text-align: end;
  padding: 0.5rem 1rem 1rem;
  box-sizing: border-box;
}
.main-header .menu-area .menu-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  margin-bottom: 0;
}
.main-header .menu-area .menu-list li {
  padding: 10px;
  font-size: 1rem;
}

/* product */
.container {
  position: relative;
  margin: 3rem auto 5rem;
}
.container .card {
  border: none !important;
  margin-bottom: 20px;
  cursor: pointer;
}
.container .card:hover {
  transform: scale(1.05);
  z-index: 1;
}
.container .card img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.container .card .choice {
  font-size: 11px;
  color: #63786a;
  font-weight: bold;
  height: 20px;
}
.container .card .new-product {
  font-size: 11px;
  height: 20px;
}
.container .product-detail-box .product-img {
  width: 400px;
  display: flex;
  justify-content: flex-end;
}
.container .product-detail-box .product-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.container .product-detail-box .product-info div {
  margin: 1rem 0;
}
.container .product-detail-box .product-info .product-title {
  margin: 0 0 1rem;
  font-size: 1.2rem;
}
.container .product-detail-box .product-info .product-choice {
  margin: -0.5rem 0 1rem;
  font-size: 11px;
  color: #63786a;
  font-weight: bold;
}
.container .product-detail-box .product-info .product-opt {
  width: 20%;
}
.container .product-detail-box .product-info button {
  width: 100%;
}

.footer {
  width: 100%;
  padding: 5% 5% 3%;
  text-align: center;
  background-color: #e4e4e4;
  color: #222;
  box-sizing: border-box;
}
.footer ul {
  width: 75%;
  margin: 0 auto;
  letter-spacing: -0.01em;
  padding: 0;
}
.footer ul li {
  list-style: none;
}
.footer ul li p {
  font-size: 0.8125rem;
}
.footer ul li p .logo {
  filter: grayscale(1);
  cursor: pointer;
}
.footer ul li .site-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.footer ul li .site-icon dd {
  padding: 0 1rem;
}
.footer ul li .site-icon dd img {
  cursor: pointer;
}

/* mobile */
@media (min-width: 280px) and (max-width: 600px) {
  .main-header .main-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .main-header .main-top .mobile-menuBtn {
    display: block;
    margin: 2%;
  }
  .main-header .search-area {
    width: 50%;
    float: unset;
    margin: 3% auto;
  }
  .main-header .menu-area {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 45%;
    height: 100vh;
    margin: 0;
    background: #f1ebdf;
    z-index: 10;
  }
  .main-header .menu-area .menu-list {
    width: 100%;
    padding: 0;
    text-align: center;
  }
  .main-header .menu-area .menu-list li {
    width: 100%;
    padding: 0.5rem;
  }
  .main-header .menu-area .menu-close {
    display: block;
  }
  .main-header .menu-area .menu-close svg {
    height: 1.2em;
  }
  .container .product-detail-box {
    flex-flow: wrap column;
  }
  .container .product-detail-box .product-img {
    width: 100%;
  }
  .footer ul {
    width: 90%;
  }
}/*# sourceMappingURL=App.css.map */