/* main header */
.main-header{
    // login area
    & .mobile-menuBtn{
        display: none;
    }
    & .login-area{
        display: flex;
        justify-content: flex-end;
        margin: 2%;
        & .login-button{        
            display: flex;
            align-items: center;
            justify-content: end;
            width: 100%;
            cursor: pointer;

            & div{
                padding-left: 0.3rem;
            }
        }
    }
    // logo
    & .main-logo{
        display: flex;
        justify-content: center;
        & img{cursor: pointer;}
    }
    // search
    & .search-area{
        position: relative;
        display: flex;
        float: right;
        width: 12%;
        margin: 2%;
        & .faSearch{
            position: absolute;
            top: 20%;
            left: 2%;
            cursor: pointer;
        }
        & .search_input{
            width: 100%;
            border: 0;
            border-bottom: 1px solid #222;
            color: #222;
            text-indent: 1.5rem;
            font-size: 1rem;
            &:focus{
                outline: none;
            }
        }
    }
    // nav menu
    & .menu-area{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem 0;
        clear: both;
        & .menu-close{
            display: none;
            width: 100%;
            border: 0;
            outline: none;
            background: transparent;
            text-align: end;
            padding: 0.5rem 1rem 1rem;
            box-sizing: border-box;
        }
        & .menu-list{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            list-style-type: none;
            margin-bottom: 0;
            & li{
                padding: 10px;
                font-size: 1rem;
            }
        }
    }
}

/* product */
.container{
    position: relative;
    margin: 3rem auto 5rem;
    & .card{
        border:none !important;
        margin-bottom: 20px;
        cursor: pointer;
        &:hover{
            transform: scale(1.05);
            z-index: 1;
        }
        & img{
            width: 100%;
            object-fit: cover;
        }
        // main
        & .choice{
            font-size:11px;
            color: #63786a;
            font-weight: bold;
            height: 20px;
        }   
        & .new-product {
            font-size: 11px;
            height: 20px;
        }
        
        
    }

    // sub detail
    & .product-detail-box{
        & .product-img{
            width: 400px;
            display: flex;
            justify-content: flex-end;
            & img{
                width: 100%;
                object-fit: cover;
            }
        }
        & .product-info{
            & div{
                margin: 1rem 0;
            }
            & .product-title{
                margin: 0 0 1rem;
                font-size: 1.2rem;
            }
            & .product-choice{
                margin: -0.5rem 0 1rem;
                font-size:11px;
                color: #63786a;
                font-weight: bold;
            }
            & .product-opt{
                width: 20%;
            }
            & button{
                width: 100%;
            }
        }
    }
}

.footer{
    width: 100%;
    padding: 5% 5% 3%;
    text-align: center;
    background-color: #e4e4e4;
    color: #222;
    box-sizing: border-box;
    & ul{
        width: 75%;
        margin: 0 auto;
        letter-spacing: -.01em;
        padding: 0;
        & li{
            list-style: none;
            & p{
                font-size: .8125rem;
                & .logo{
                    filter: grayscale(1);
                    cursor: pointer;
                }
            }
            & .site-icon{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                & dd{
                    padding: 0 1rem;
                    & img{cursor: pointer;}
                }
            }
        }
    }
}

/* mobile */ 
$view_width1:600px; //모바일 최대사이즈 
$view_width2:480px;
$view_width3:340px; 
$view_width4:280px; //모바일 최소사이즈

@media (min-width:$view_width4) and (max-width:$view_width1){
    .main-header{
        & .main-top{
            display: flex;
            justify-content: space-between;
            align-items: center;
            & .mobile-menuBtn{
                display: block;
                margin: 2%;
            }
        }
        & .search-area{
            width: 50%;
            float: unset;
            margin: 3% auto;
        }
        // nav bar
        & .menu-area{
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 45%;
            height: 100vh;  
            margin: 0;
            background: #f1ebdf;
            z-index: 10;
            & .menu-list{
                width: 100%;
                padding: 0;
                text-align: center;
                & li{
                    width: 100%;
                    padding: 0.5rem;
                }
            }
            & .menu-close{
                display: block;
                & svg{
                    height: 1.2em;
                }
            }
        }

    }
    .container{
        & .product-detail-box{
            flex-flow: wrap column;
            & .product-img{
                width: 100%;
            }
        }
    }
    .footer{
        & ul{
            width: 90%;
        }
    }
}